* {
  margin: 0;
}

/* Header */

#pageHead {
  /* flexbox to make it easier to position */
  display: flex;
  height: 20vh;
  flex-direction: column;
  background-color: #333533;
}

#header {
  display: flex;
  height: 15vh;
  width: 100vw;
  font-size: 40px;
  color: #ffd100;
}
/* NavBar */
a {
  text-decoration: none;
}
/* styling for general nav bar */
#navContainer {
  display: flex;
  height: 5vh;
  width: 100vw;
  background-color: #202020;
}
/* styling for the boxes inside the nav bar */
#navLinks {
  display: flex;
  justify-content: space-between;
}
/* styling the names of the restaurants */
.navContent {
  font-weight: bold;
  justify-content: space-between;
  color: #d6d6d6;
}
/* styling for active link */
.active {
  background-color: #ffee32;
  color: #333533;
}

/* Restaurant pages */
#restaurantBody {
  display: flex;
  flex-direction: column;
  background-color: #d6d6d6;
  height: 80vh;
  color: #202020;
}
.restaurantMap {
  z-index: 1;
}
